In [1]:
import pandas as pd

# import train data
en_train: pd.DataFrame = pd.read_csv("./en_train.csv.zip")

# drop duplicates examples
en_train = en_train.drop_duplicates(subset=["before", "after"], keep="first")

en_train.dropna(inplace=True)
en_train["before"] = en_train["before"].astype(str)
en_train["after"] = en_train["after"].astype(str)

In [2]:
# view dataframe
en_train.sample(10)

,sentence_id,token_id,class,before,after
2926695,226348,12,FRACTION,1928/9,one thousand nine hundred twenty eight ninths
543130,43477,0,LETTERS,J. R. R.,j r r
6195354,471684,6,PLAIN,Motivate,Motivate
9838942,742191,4,PLAIN,Stradale,Stradale
9642261,727705,0,PLAIN,Aryl,Aryl
1294824,101931,5,LETTERS,Neamt,n e a m t
5818336,443573,1,DIGIT,0031,o o three one
692373,55251,5,PLAIN,Trabzonspor,Trabzonspor
2095290,163205,6,PLAIN,sulphate,sulphate
2632565,204067,1,PLAIN,Radevich,Radevich

In [3]:
# save cleaned en_train
en_train1: pd.DataFrame = en_train[en_train["before"] != en_train["after"]]
en_train1 = pd.concat(
    [
        en_train1,
        en_train[en_train["before"] == en_train["after"]].sample(len(en_train1) // 3),
    ]
)
en_train1.drop(columns=["class"]).to_csv("./en_train.csv", index=False)
del en_train1

In [4]:
# view dataframe

# how many class?
en_train["class"].unique()

# it seems like if the class is PUNCT, before always equal to after
# en_punctuation: pd.DataFrame = en_train[en_train["class"] == "PUNCT"]
# en_punctuation[en_punctuation["before"] == en_punctuation["after"]]
# en_punctuation[en_punctuation["before"] != en_punctuation["after"]]

array(['PLAIN', 'PUNCT', 'DATE', 'LETTERS', 'CARDINAL', 'VERBATIM',
       'DECIMAL', 'MEASURE', 'MONEY', 'ORDINAL', 'TIME', 'ELECTRONIC',
       'DIGIT', 'FRACTION', 'TELEPHONE', 'ADDRESS'], dtype=object)

In [5]:
en_train_unique: pd.DataFrame = en_train[en_train["before"] != en_train["after"]]
# en_train_unique.to_csv("./en_train_unique.csv")

In [6]:
# check test and submission csv
# en_test: pd.DataFrame = pd.read_csv("./en_test.csv.zip")
# en_sample_submission: pd.DataFrame = pd.read_csv("./en_sample_submission.csv.zip")

In [7]:
# functions
import unicodedata


def is_punctuation(s):
    return all(unicodedata.category(char).startswith("P") for char in s)


print(is_punctuation(""""""))  # True
print(is_punctuation("-----"))  # True
print(is_punctuation("»"))  # True

True
True
True

In [ ]:
#conversion of verbatim
verbatim_df = en_train[en_train['class'] == 'VERBATIM'].copy()

# Extract all unique cases
unique_verbatim_cases = verbatim_df[['before', 'after']].drop_duplicates()

# Create dictionary mapping 'before' → 'after'
VERBATIM_DICT = dict(zip(unique_verbatim_cases['before'], unique_verbatim_cases['after']))

# Function to apply dictionary
def verbatim_to_words(text):
    
    return VERBATIM_DICT.get(text, text)  # Return mapped word if found, else return original

# Apply transformation
verbatim_df['tested'] = verbatim_df['before'].apply(verbatim_to_words)


# Find mismatches
mismatches = verbatim_df[verbatim_df['tested'] != verbatim_df['after']]

# Output mismatches for manual inspection
print(mismatches)